<div class="row sticky-top bg-primary-dark">
  <div class="col-xl-10 mx-auto">
    <!-- song-select -->
    <ul
      class="d-flex fs-md-5 border-bottom border-primary-light mb-4 overflow-auto scroll-ls"
    >
      <li>
        <a
          href="my-songs-all.html"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span class="<%= page === 'all' ? 'deco-circle-sm fw-bold' : '' %>"
            >全部</span
          ></a
        >
      </li>
      <li>
        <a
          href="##"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span
            class="<%= page === 'chinese' ? 'deco-circle-sm fw-bold' : '' %>"
            >國語</span
          ></a
        >
      </li>
      <li>
        <a
          href="##"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span
            class="<%= page === 'taiwanese' ? 'deco-circle-sm fw-bold' : '' %>"
            >台語</span
          ></a
        >
      </li>
      <li>
        <a
          href="##"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span
            class="<%= page === 'japanese' ? 'deco-circle-sm fw-bold' : '' %>"
            >日語</span
          ></a
        >
      </li>
      <li>
        <a
          href="my-songs-essential.html"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span
            class="<%= page === 'essential' ? 'deco-circle-sm fw-bold' : '' %>"
            >必點</span
          ></a
        >
      </li>
      <li>
        <span
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#create-playlist"
          class="material-icons fs-2 text-primary-light hover-text-white mx-2 my-2 my-md-4 pointer"
        >
          add_circle_outline
        </span>
      </li>
    </ul>
    <div class="d-flex align-items-center flex-wrap gap-4 mb-4 mb-md-8">
      <!-- search-bar -->
      <div
        class="d-flex align-items-center border border-primary-light rounded-2 flex-grow-1 w-100 w-md-auto"
      >
        <input
          type="search"
          class="form-control border-0"
          placeholder="關鍵字搜尋"
        />
        <span
          class="material-icons px-4 pointer text-primary-light hover-text-white"
        >
          search
        </span>
      </div>
      <div class="d-flex justify-content-end w-100 w-md-auto gap-2 gap-md-4">
        <!-- add & delete songs -->
        <span
          type="button"
          class="btn btn-outline-success rounded-2 fs-6 py-1 px-4"
          style="display: none"
          id="add-songs"
          >新增<span class="d-none d-md-inline-block">歌曲</span></span
        >
        <div
          type="button"
          class="btn btn-outline-danger rounded-2 fs-6 py-1 px-4 text-nowrap"
          style="display: none"
          id="delete-songs"
        >
          刪除<span class="d-none d-md-inline-block">歌曲</span>
        </div>
        <!-- isPublic -->
        <div
          class="form-check form-switch ps-0 <%= page ==='all' ? 'd-none' : '' %>"
        >
          <input
            class="form-check-input ms-0 me-1"
            type="checkbox"
            id="public"
            checked
            disabled
          />
          <label class="form-check-label" for="Public" id="public-content"
            >公開</label
          >
        </div>
        <!-- edit -->
        <div
          class="btn py-1 px-4 btn-primary rounded-2 fs-6 <%= page ==='all' ? 'd-none' : '' %>"
          id="edit-playlist"
        >
          <i class="bi bi-pencil-square me-1"></i><span>編輯</span>
        </div>
      </div>
    </div>
  </div>
</div>
