<div class="row sticky-top bg-primary-dark">
  <div class="col-xl-10 mx-auto">
    <!-- song-select -->
    <ul
      class="d-flex fs-md-5 border-bottom border-primary-light mb-4 overflow-auto scroll-ls"
    >
      <li>
        <a
          href="my-songs-all.html"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span class="<%= page === 'all' ? 'deco-circle-sm fw-bold' : '' %>"
            >全部</span
          ></a
        >
      </li>
      <li>
        <a
          href="##"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span
            class="<%= page === 'chinese' ? 'deco-circle-sm fw-bold' : '' %>"
            >國語</span
          ></a
        >
      </li>
      <li>
        <a
          href="##"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span
            class="<%= page === 'taiwanese' ? 'deco-circle-sm fw-bold' : '' %>"
            >台語</span
          ></a
        >
      </li>
      <li>
        <a
          href="##"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span
            class="<%= page === 'japanese' ? 'deco-circle-sm fw-bold' : '' %>"
            >日語</span
          ></a
        >
      </li>
      <li>
        <a
          href="my-songs-essential.html"
          class="link-unstyled text-white px-6 px-md-15 py-3 py-md-4 hover-fw-bold text-nowrap"
          ><span
            class="<%= page === 'essential' ? 'deco-circle-sm fw-bold' : '' %>"
            >必點</span
          ></a
        >
      </li>
      <li>
        <span
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#create-playlist"
          class="material-icons fs-2 text-primary-light hover-text-white mx-2 my-2 my-md-4 pointer"
        >
          add_circle_outline
        </span>
      </li>
    </ul>
    <div class="d-flex align-items-center flex-wrap gap-4 mb-4 mb-md-8">
      <!-- search-bar -->
      <div
        class="d-flex align-items-center border border-primary-light rounded-2 flex-grow-1 w-100 w-md-auto"
      >
        <input
          type="search"
          class="form-control border-0"
          placeholder="關鍵字搜尋"
        />
        <span
          class="material-icons px-4 pointer text-primary-light hover-text-white"
        >
          search
        </span>
      </div>
      <div class="d-flex justify-content-end w-100 w-md-auto gap-2 gap-md-4">
        <!-- add & delete songs -->
        <span
          type="button"
          class="js-add-songs btn btn-outline-success rounded-2 fs-6 py-1 px-4"
          style="display: none"
          data-bs-target="#addSongsModal"
          data-bs-toggle="modal"
          >新增<span class="d-none d-md-inline-block">歌曲</span></span
        >
        <div
          type="button"
          class="js-delete-songs btn btn-outline-danger rounded-2 fs-6 py-1 px-4 text-nowrap"
          style="display: none"
        >
          刪除<span class="d-none d-md-inline-block">歌曲</span>
        </div>
        <!-- isPublic -->
        <div
          class="form-check form-switch ps-0 <%= page ==='all' ? 'd-none' : '' %>"
        >
          <input
            class="form-check-input ms-0 me-1"
            type="checkbox"
            id="public"
            checked
            disabled
          />
          <label class="form-check-label" for="Public" id="public-content"
            >公開</label
          >
        </div>
        <!-- edit -->
        <div
          class="btn py-1 px-4 btn-primary rounded-2 fs-6 <%= page ==='all' ? 'd-none' : '' %>"
          id="edit-playlist"
        >
          <i class="bi bi-pencil-square me-1"></i><span>編輯</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="addSongsModal"
  tabindex="-1"
  aria-labelledby="addSongsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div
      class="modal-content bg-primary-dark border border-primary-light border-2 rounded-4 p-4"
    >
      <div class="d-flex justify-content-end border-0 mb-1">
        <span
          type="button"
          class="material-icons"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          close
        </span>
      </div>
      <div class="container-fluid">
        <div class="row border-1">
          <div class="col-md-5 border-end border-primary-light text-center">
            <div class="h-100 d-flex flex-column justify-content-center">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control border border-primary-light rounded-2"
                  id="addSongsModalSongTitle"
                  placeholder="歌名"
                />
                <label for="addSongsModalSongTitle">歌名</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control border border-primary-light rounded-2"
                  id="addSongsModalSinger"
                  placeholder="演唱者"
                />
                <label for="addSongsModalSinger">演唱者</label>
              </div>
              <a href="##" class="btn btn-success rounded-2 fs-6 py-1 px-4"
                >加入清單</a
              >
            </div>
          </div>
          <div class="col-md-7">
            <div class="d-flex flex-column">
              <div
                class="border border-primary-light rounded-2 p-4 mb-3"
                style="height: 400px"
              >
                <div
                  class="text-primary-light fs-4 text-center"
                  style="line-height: 368px"
                >
                  還沒有任何歌曲喔
                </div>
              </div>
              <a
                href="##"
                class="btn btn-major rounded-2 fs-6 py-2 px-6 ms-auto"
                >加入歌本</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
